python_dotenv
langchain_openai
langchain
pypdf
docarray
pydantic==1.10.8
jupytext

# forTextExtractor
pymupdf

# for Image Extraction
pymupdf4llm

boto3
chromadb
faiss-cpu

sentence-transformers>=2.2.0
transformers
langchain_community
huggingface-hub
tenacity
tensorboard
tensorflow
rank_bm25

pandas
openpyxl
pymongo
trl