.App-header {
    background-color: #002d2a;
    min-height: 9.7vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(5px + 2vmin);
    color: white;
    font-weight: 700;
  }
  .GSFLogo{
    height: 7vmin;
    margin-left: 1em;
    margin-right: 0.5em;
  }

  .header-link{
    color: #aecc53;
    text-decoration: none;
    margin-left: 2em;
    font-size: 0.9em;
    font-weight: 500;
  }

  .header-link:hover{
    color: #006d69;
  }

  .github-link {
    margin-left: auto; 
    margin-right: 1em; 
  }

  .github-icon {
    color: #aecc53;
  }

  .github-icon:hover {
    color: #006d69;
  }