.App {
  text-align: center;
  background-color: #fbfcf6;
  font-family: "Nunito Sans";
  font-kerning: normal;
  font-feature-settings: "kern", "liga", "clig", "calt";
  font-weight: 400;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.App-content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}