.App {
  text-align: center;
  background-color: #fbfcf6;
  font-family: "Nunito Sans";
  font-kerning: normal;
  font-feature-settings: "kern", "liga", "clig", "calt";
  font-weight: 400;
}

.App-header {
  background-color: #002d2a;
  min-height: 9.7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
  font-weight: 700;
}

.GSFLogo{
  height: 7vmin;
  margin-right: 0.5em;
}

.form-container {
  margin: 2em auto;
  padding: 2em;
  background-color: #003734;
  border-radius: 2em;
  color: white;
  width: 60em;
}

.submitForm{
  background-color: #006d69;
  color: white;
  border: none;
  padding: 1em;
  border-radius: 1em;
}

.fileUploadButton{
  margin: 2em;
}

.submitFileButton{
  margin: 2em;
  background: #aecc53;
  border-radius: 4px;
  color: #0b161f;
  font-weight: 700;
  padding: 8px 16px;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}

.output-container {
  margin: 2em auto;
  padding: 2em;
  background-color: #003734;
  border-radius: 2em;
  color: white;
  width: 60em;
  height: 20em;
}

.outputViewer{
  margin: 1em auto;
  padding: 1em;
  background-color:white;
  border-radius: 1em;
  height: 15em;
}

.UploadTitle{
  color: #003734;
}

.hr1{
  margin-top: 1em;
  border: 2px solid #aecc53;
}