.analysis-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  gap: 20px;
  justify-content: space-between;
  height: 100%;
  width: 100%; /* Ensure it uses the full width of its container */
}

.analysisContent {
  display: flex;
  gap: 20px; /* Reduced gap to fit content better */
  width: 100%; /* Ensure full width usage */
  padding: 0px 20px; /* Reduced padding */
  box-sizing: border-box; /* Ensure padding is included in width */
}

.progress-timer {
  width: 30%; /* Fixed width for better control */
}

.chart-tabs {
  display: flex;
  flex-direction: column;
  border: 1px solid #cdd7e1;
  border-radius: 12px;
  box-shadow: 10px 5px 5px #cdd7e1;
  padding: 10px;
  flex: 1; /* Allow it to grow and fit space */
  width: 80%;
}

.projectTypeList {
  display: flex;
  gap: 5px; /* Reduced gap */
}

.projectType {
  padding: 4px 10px !important; /* Reduced padding */
  font-weight: bold !important;
  font-size: 20px !important; /* Reduced font size */
  border-radius: 10px !important;
}

.charts {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%; /* Ensure full width usage */
}

.results {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Ensure full width usage */
}

.documents-container {
  display: flex;
  flex-wrap: wrap;
}

.DocumentList {
  flex: 1 1 15%; /* Adjusted basis to 15% */
  box-sizing: border-box!important;
  padding: 5px!important;
}